<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=DESKTOP-F1AKN4R\SQLEXPRESS01;Initial Catalog=DBExamen3JuanDaniel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
</configuration>